# AWS Configuration
AWS_REGION=us-west-2
LOG_LEVEL=INFO

# Lambda Environment Variables
OUTPUT_BUCKET=genai-idp-sample-pattern1-bda-outputbucket7114eb27-m6n7u7s8z6cv
TRACKING_TABLE_NAME=GenAI-IDP-Sample-Pattern1-BdaLending-TrackingTable170A6688-14JXSP0ZR6XV9
CONFIGURATION_TABLE_NAME=GenAI-IDP-Sample-Pattern1-BdaLending-ConfigurationTable2608F30B-LPIIJM5HO1QB

# Guardrail Configuration
GUARDRAIL_ID_AND_VERSION=

# Knowledge Base Configuration
KB_ACCOUNT_ID=390041016107
KB_ID=JGKAIY9DHE
KB_REGION=us-west-2

# Model Configuration
MODEL_ID=us.amazon.nova-pro-v1:0

# Monocle Configuration
MONOCLE_BLOB_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=moncletraces;AccountKey=<ACCOUNT_KEY>;EndpointSuffix=core.windows.net
MONOCLE_BLOB_CONTAINER_NAME=monocle-traces
MONOCLE_EXPORTER=okahu,blob,s3,file
MONOCLE_S3_BUCKET_NAME=monocle-traces
MONOCLE_TRACE_OUTPUT_PATH=../.monocle

# Okahu Configuration
OKAHU_API_KEY=

export OUTPUT_BUCKET=
export TRACKING_TABLE_NAME=
